{% extends 'bootstrap/base.html' %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/app.css') }}">
{% endblock %}

{% block title %}{% endblock %}

{% block navbar %}
  {% include 'menu.jinja2' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row products">
            <h1>{{ self.title() }}</h1>
            {% block subcontent %}{% endblock %}
        </div>
    </div>
{% endblock %}